{% extends "shared/index.html" %}
{% load static %}
{% load humanize %}
{% block Main %}

    <!-- ***** Main Banner Area Start ***** -->

    <!-- ***** Main Banner Area End ***** -->
    
    <!-- ***** Products Area Starts ***** -->
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>محصولات فروشگاه</h2>
                        <span>لیست تمامی محصولات سایت</span>
                        <div class="container"> 
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-expanded="false">
                                            مرتب سازی براساس 
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <ul class="nav nav-tabs sort-tabs-options sort-main" id="myTab" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link active"
                                                        href="{{ request.path }}?sort=1">موجود ها</a>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link active"
                                                        href="{{ request.path }}?sort=2">بیشترین قیمت</a>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link active"
                                                        href="{{ request.path }}?sort=3">کمترین قیمت</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> 
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="col-lg-4">
                                    <form>
                                        <input type="text" name="#" placeholder="                   ... جستوجو محصول">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for item in products  %}
                {% if item.is_available %}
                    {% if item.is_sale == False %}
                        <div class="col-lg-4">
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="products/{{ item.id }}/{{ item.name }}"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="{{ item.image.url }}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4> {{ item.name }} </h4>
                                    <span> {{ item.price | intcomma }} <span> تومان</span> </span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-4">
                            <div class="item">
                                <div class="thumb">
                                    <span style="background-color: black; color: aliceblue; border-radius: 50%;padding: 3px;">%{{ item.discount }}</span>
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="products/{{ item.id }}/{{ item.name }}"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="{{ item.image.url }}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4> {{ item.name }} </h4>
                                    <del> {{ item.price | intcomma }}  </del><span> {{ item.sell_price | intcomma }}</span> <span> تومان</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% else %}
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="products/{{ item.id }}/{{ item.name }}"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="{{ item.image.url }}" alt="">
                            </div>
                            <div class="down-content">
                                <h4> {{ item.name }} </h4>
                                <span> ناموجود </span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}    
                {% endfor %}
                <div class="col-lg-12">
                    <div class="pagination">
                        <ul>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Products Area Ends ***** -->
    
    {% endblock Main %}
    